* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
    }
.Josefin {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    }
h1, h2, h3, h4, h5, h6{
    color: rgb(208, 9, 226);
        }
nav{
    background-color: rgb(61, 224, 143);
    height: 200px;
    }
.logo{
    width: 100px;
    height: 50px;
    }
.background{
    width: 1500px;
    height: 100px;
    background-color: purple;
    }
li{
    font-size: small;
    }
section{
    background: linear-gradient(#ffff00aa, #0099ffaa, #c300ffaa), url(https://picsum.photos/1500/300);
}
a:link{
    color: black;
}